<content-header name="Reservas" small="Atualizar ou Excluir"> </content-header>

<div class="box-body" ng-controller="">
    <table class="table">
        <thead>
            <tr>
                <th> USUÁRIO </th>
                <th>LABORATÓRIO</th>
                <th> DATA DA RESERVA</th>
                <th> DATA RESERVADA</th>
                <th> HORÁRIO DE ENTRADA </th>
                <th> HORÁRIO DE SAÍDA</th>
                <th> AÇÕES </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>carlos kenneton</td>
                <td>metrologia</td>
                <td>02/01/2018</td>
                <td>10/01/2018</td>
                <td>10:00</td>
                <td>12:00</td>
                <td style="width:100px;">
                    <button class="btn btn-warning" ng-click="iniciarModal(lab)">
                        <i class="fa fa-pencil"> </i>
                    </button>
                    <button class="btn btn-danger" ng-click="iniciarModalDeletarL(lab)">
                        <i class="fa fa-trash-o"> </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-include="'laboratorios/modalAtualizarL.html'"></div>
    <div ng-include="'laboratorios/modalDeletarL.html'"></div>
</div>